<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>register-servlet</servlet-name>
		<servlet-class>com.anil.AddToEmails</servlet-class>
		<init-param>
			<param-name>emailFileName</param-name>
			<param-value>/usr/local/Cellar/tomcat/9.0.5/libexec/webapps/March21/WEB-INF/userList.txt</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>register-servlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
</web-app>
